* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.use-keyboard{
    width: 100%;
    max-width: 1000px;
    height: 220px;
    display: flex;
    justify-content: center;
    margin: 100px auto 0;
    outline: none;
    resize: none;
}

.keyboard {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #004134;
    padding: 5px 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 50px;
    margin: 2px;
    border-radius: 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    vertical-align: top;
    -webkit-tap-highlight-color: transparent;
    /* position: relative; */
}

.keyboard__key:active {
    background-color: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 10%;
    max-width: 100px;
}

.keyboard__key--extra-wide {
    width: 25%;
    max-width: 500px;
}

.keyboard__key--active {
    background-color: rgb(231, 218, 35);
}

.keyboard__key--dark {
    background-color: rgba(0, 0, 0, 0.25);
}

.action--key{
    background-color: burlywood;

}